@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
html, body{
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
	height: 100%;
	width: 100%;
  	overflow-x: hidden;
	background:#FFFFFF;
}

body p{
  font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5 {
    	font-family: 'Roboto', sans-serif;
}
a {
  color: #008DE7;
  font-weight:400;
}

a:hover { transition: all 200ms ease-in-out; }

#customers {
	border-collapse: collapse;
	width: 100%;
  }
  
  #customers td, #customers th {
	border: 1px solid #ddd;
	padding: 5px;
  }
  
  #customers th {
    padding-top: 1px;
    padding-bottom: 1px;
    /* text-align: left; */
    background-color: #4CAF50;
    color: white;
  }
  .table-title .add-new {
	float: right;
	height: 30px;
	font-weight: bold;
	font-size: 12px;
	text-shadow: none;
	min-width: 100px;
	border-radius: 50px;
	line-height: 13px;
}
.table-title .add-new i {
	margin-right: 4px;
}
table.table {
	table-layout: fixed;
}
table.table tr th, table.table tr td {
	border-color: #e9e9e9;
}
table.table th i {
	font-size: 13px;
	margin: 0 5px;
	cursor: pointer;
}
table.table th:last-child {
	width: 100px;
}
table.table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 13px;
}    
table.table td a.add {
	color: #27C46B;
}
table.table td a.edit {
	color: #FFC107;
}
table.table td a.delete {
	color: #E34724;
}
table.table td i {
	font-size: 15px;
}
table.table td a.add i {
	font-size: 24px;
	margin-right: -1px;
	position: relative;
	top: 3px;
}    
table.table .form-control {
	height: 32px;
	line-height: 32px;
	box-shadow: none;
	border-radius: 2px;
}
table.table .form-control.error {
	border-color: #f50000;
}
table.table td .add {
	display: none;
}
/********* profile details **********/
.profile_details{
	float: right;
    margin: 0 4.8em 0 1em;
}
.profile_details_drop .lnr.lnr-chevron-up{
	display:none;
}
.profile_details_drop.open .lnr.lnr-chevron-up{
    display:block;
}
.profile_details_drop.open .lnr.lnr-chevron-down{
	display:none;
}
ul.dropdown-menu2.drpdwn-meu2 {
    top: 102%;
}
ul.dropdown-menu.two{
       -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-animation-duration: .3s;
    -o-animation-duration: .3s;
    animation-duration: .3s;
    background: #fff;
       border: 1px solid #CECDCD;
	
}
ul.dropdown-menu.two.one {
    min-width: 163px;
    top: 99%;
    left: -82px;
}
.dropdown-menu.two li {
    border-top: 1px solid #e4eaec;
	    border-bottom: 0;
}
ul.dropdown-menu.two.drp-mnu {
    min-width: 125px;
	top:94%;
}
ul.dropdown-menu.two.drp-mnu li a {
    display: inline-flex;
    width: 100%;
    text-align: center;
    padding:.5em 0 0.5em 1.5em;
}
ul.dropdown-menu.two li a {
    padding: 6px 10px;
}
.notification_bottom a {
    padding: 6px 10px;
    color: #00C6D7;
}
ul.dropdown-menu.two.drp-mnu li a i {
    width: 24px;
    line-height: 17px;
    height: 20px;
}
.profile_img span{
	float:left;
	display:block;
	width:40px;
	height:40px;
	border-radius:3em;
	-webkit-border-radius:3em;
	-moz-border-radius:3em;
	-o-border-radius:3em;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}
.span_4 {
    padding: 0;
}
.user-name{
	 float:left;
	 margin-top:8px;
	 margin-left:5px;
	 height:35px;
	 width:45%;
}
.profile_details ul li{
	list-style-type:none;
	width:87%;
}


.error_page {
       background: #00C6D7;
    position: relative;
    padding: 11em 0;
    width: 100%
}
.error-top {
   text-align: center;
   margin: 7em auto;
       background: #fff;
    padding: 2em 2em;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -o-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border: 1px solid rgba(213, 213, 214, 0.85);
    width: 30%;
    padding: 2em 2em;
	position: absolute;
    left: 35%;
    top: 13%;
}
.error-top h3{
      font-size: 9em;
    font-weight: bold;
    margin: 0;
    color: #052963;
}
.error-top h3 i{
    font-size: 113px;
    color: #00c6d7;
}
.error-top span {
  font-size: 1.5em;
  color:#333;
}
.error-top p{
    font-size: 0.95em;
    font-weight: 400;
    color: #777;
	margin: 10px 0;
}
a.read.fourth {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    padding: 0.6em 1em;
    display: inline-block;
    margin: 0 auto;
    margin-top: 1em;
    background:#00c6d7;
}
a.read.fourth:hover{
 background:#052963;
}
/*--//404--*/
/*--/sign-in--*/
	.login input[type="text"],.login input[type="password"]{
		width: 100%;
		padding: 0.9em 1em 0.9em 4em;
		color: #777;
		font-size: 15px;
		outline: none;
		font-weight: 400;
		border: 1px solid #ddd;
		background: url("../images/icons.png") no-repeat 14px 17px;
		margin: 0.3em 0;
		font-family: 'Roboto', sans-serif;
	  }
	.login input[type="password"]{
	   background: url("../images/icons.png") no-repeat 13px -33px ;

	  }
	.submit {
	  margin: 1em 0;
	  }
	
	
	.buttons {
		margin: 1em 0 0em 0;
	}
	.buttons ul{
	 padding:0;
	}
	.buttons ul li {
	  display: inline-block;
	  width: 38%;
	  margin-right: 8%;
	  float: left;
	}
	.buttons ul li.or{
		width: 3%;
		margin-top: 8px;
		color: #777;
	}
	

/*--/login--*/
.buttons.login ul li {
    display: inline-block;
    width: 50%;
    margin-right: 0;
    float: left;
}
.checkbox11 {
	padding-left: 27px;
    font-size: 1em;
    line-height: 27px;
    cursor: pointer;
    position: relative;
    color: #777;
}
.checkbox11:last-child {
	margin-bottom: 0;
}
.news-letter {
	color: #555;
	font-size: 0.8em;
	margin-bottom: 1em;
	display: block;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	clear: both;
	    font-family: 'Roboto', sans-serif;
}
.checkbox11 i {
    position: absolute;
    bottom: 5px;
    left: 0;
    display: block;
    width: 18px;
    height: 18px;
    outline: none;
    border: 2px solid #ccc;
}
.checkbox11 input + i:after {
	content: '';
	background: url("../images/tick1.png") no-repeat 1px 2px;
	top: -1px;
	left: -1px;
	width: 15px;
	height: 15px;
	font: normal 12px/16px FontAwesome;
	text-align: center;
}
.checkbox11 input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.checkbox11 input {
	position: absolute;
	left: -9999px;
}
.checkbox11 input:checked + i:after {
	opacity: 1;
}
h3.inner-tittle.t-inner {
    font-size: 1.8em;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0.7em;
    color: #333;
}
.sign-up input[type="submit"]{
	float: right;
	width:30%;
		font-size:17px;
		font-weight: 400;
		color: #fff;
		cursor: pointer;
		outline: none;
		    padding:6px 19px;
		    border: 2px solid #00C6D7;
    background: #00C6D7;
		margin: 0;
		font-family: 'Roboto', sans-serif;
		    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.sign-up input[type="submit"]:hover{
    border: 2px solid #052963;
    background: #052963;
	  color: #fff;
}
.sign-up input[type="reset"]{
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    outline: none;
    padding: 4px 19px;
    float: left;
    border: 2px solid #052963;
    background: #052963;
    margin: 0;
    font-family: 'Roboto', sans-serif;
	    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
			
}
.sign-up input[type="reset"]:hover{
 border: 2px solid #00C6D7;
    background: #00C6D7;
	  color: #fff;
}
.sign-up {
    margin-top:0.8em;
}

/*--/profile--*/
.profile-section{
    width: 38%;
    height: auto;
    padding: 2em 2em;
    background-color: #f5f5f5;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -o-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border: 1px solid #E7E7E8;
    margin:2% auto 4%;
}
.profile-widget {
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid #00C6D7;
        padding: 43px 0 24px 0;
    background: #00C6D7;
}
.profile-widget img {
    border-radius:50%;
	 -o-border-radius:50%;
	  -webkit-border-radius:50%;
	   -moz-border-radius:50%;
	       border: 4px solid #119BA7;
}
.profile-widget  h2{
    margin: 7px 0;
    color: #fff;
    font-size: 21px;
    font-weight: normal;
}
.profile-widget p{
	    font-size: 14px;
    color:#048590;
}

.profile-info {
 float: left;
    width: 49%;
    margin-right: 2%;
	}
.profile-info.two {
    float:right;
    margin-right:0%;
	    padding: 0;
}



/*--/footer--*/
.footer {
    text-align: center;
    margin: 18em 0 2em 0;
}
.footer.sign {
    margin: 21em 0 2em 0;
}
footer {
    background:#00C6D7;
    padding: 12px;
    width: 100%;
    border-top: 1px solid #00C6D7;
    text-align:center;
    position: fixed;
    bottom: 0;
	z-index: 999;
}
footer  p {
	color: #fff;
    font-size: 1em;
	padding-right: 252px;
	margin: 0;
}
.footer p {
	color: #333;
    font-size: 1em;
	    margin-top: 1em;
}
.footer p a{
	color:#00C6D7;
}

footer  p a{
	color:#002561;
}
footer  p a:hover ,.footer p a:hover{
	text-decoration:underline;
}
/*---responsive-----*/
@media (max-width:1600px){
	.left-content {
		float: right;
		width: 86%;
	}
	.page-container.sidebar-collapsed-back .left-content {
		float: right;
		width: 86%;
	}
	.page-container.sidebar-collapsed .left-content {
		float: right;
		width: 96%;
	}
}
@media (max-width:1440px){
	.left-content {
		float: right;
		width: 84%;
	}
	.profile_details_left {
		float: right;
		width: 29%;
	}
	
	.error-top p {
      font-size: 0.9em;
	}
	
}
@media (max-width:1366px){

	.error-top {
		margin: 7em auto;
		padding: 2em 2em;
		width: 32%;
		padding: 2em 2em;
		position: absolute;
		left: 35%;
		top: 13%;
	}
}
@media (max-width:1280px){
	.profile_details_left {
		float: right;
		width: 32%;
	}
	.left-content {
		float: right;
		width: 83%;
	}
	
	.error-top h3 {
      font-size: 8em;
	}
	
	.error-top {
		margin: 7em auto;
		padding: 2em 2em;
		width: 34%;
		padding: 2em 2em;
		position: absolute;
		left: 33%;
		top: 13%;
	}
}
@media (max-width:1024px){
	.profile_details_left {
		float: right;
		width: 47%;
	}

	.page-container {
		min-width: 1032px;
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		margin: 0px auto;
	}

	.left-content {
		float: right;
		width: 78%;
	}

	.error-top h3 {
		font-size: 7em;
	}

	.error-top {
		margin: 7em auto;
		padding: 2em 2em;
		width: 40%;
		padding: 2em 2em;
		position: absolute;
		left: 30%;
		top: 13%;
	}
	
}
@media (max-width:991px){
	
	.left-content {
		float: right;
		width: 81%;
	}
	.profile_details_left {
		float: right;
		width: 71%;
	}
	
	.page-container {
		min-width: 991px;
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		margin: 0px auto;
	}

	.chrt h2, h3.sub-tittle {
		font-size: 1.7em;
	}
	.error-top {
		margin: 7em auto;
		padding: 2em 2em;
		width: 40%;
		padding: 2em 2em;
		position: absolute;
		left: 31%;
		top: 13%;
	}
	
	.btn {
		cursor: pointer;
		margin:10px 0;
	}
	
}
@media (max-width:800px){
	.page-container {
		min-width:800px;
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		margin: 0px auto;
	}
	
	.left-content {
		float: right;
		width: 76%;
	}
	
	.error-top {
		margin: 7em auto;
		width: 61%;
		padding: 2em 2em;
		position: absolute;
		left: 21%;
		top: 13%;
	}
	
}
@media (max-width:768px){
	.page-container {
		min-width:775px;
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		margin: 0px auto;
	}

	.left-content {
		float: right;
		width:76%;
	}
	.profile_details_left {
		float: right;
		width: 71%;
	}
	
}
@media (max-width:736px){
	.page-container {
		min-width:736px;
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		margin: 0px auto;
	}
	
	.left-content {
		float: right;
		width: 76%;
	}


	
}
@media (max-width:667px){

	footer p {
		font-size: 1em;
		padding-right: 56px;
		margin: 0;
	}
	
}
@media (max-width:640px){
	.page-container {
		min-width:650px;
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		margin: 0px auto;
	}
	
	.error-top {
		margin: 7em auto;
		width:62%;
		padding: 2em 2em;
		position: absolute;
		left:19%;
		top: 13%;
	}
	
	.logo {
	    padding: 21px 0;
		height: 63px;
		box-sizing: border-box;
		transition: all 100ms ease-in-out;
		transition-delay: 300ms;
	}
	
	 
	.footer p {
		font-size: 0.9em;
	}
	
	.profile_details_left {
		float: right;
		width: 75%;
	}
	.error-top h3 i {
      font-size: 89px;
	}
	
}
@media (max-width:600px){
	footer p {
		color: #fff;
		font-size: 0.8em;
		padding-right: 165px;
	}
	.page-container {
		min-width:600px;
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		margin: 0px auto;
	}
	
	.error-top {
		margin: 7em auto;
		width: 70%;
		padding: 2em 2em;
		position: absolute;
		left: 15%;
		top: 13%;
	}
	
}
@media (max-width: 568px){
	.page-container {
		min-width:568px;
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		margin: 0px auto;
	}
	
	.logo {
		padding: 18px 0;
		height: 58px;
	}
	
}
@media (max-width:480px){
	.page-container {
		min-width:480px;
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		margin: 0px auto;
	}
	
	footer p {
		font-size: 0.8em;
		padding-right: 79px;
	}
	
}
@media (max-width:414px){
	.page-container {
		min-width:414px;
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		margin: 0px auto;
	}
	
	.profile_details_left {
		float: right;
		width: 66%;
	}
	
	
	.error-top h3 {
		font-size: 5em;
	}
	.error-top {
		margin: 7em auto;
		width: 83%;
		padding: 2em 1em;
		position: absolute;
		left: 9%;
		top: 13%;
	}
	
	.error-top h3 i {
      font-size: 66px;
	}
	
}
@media (max-width:384px){
	.profile_details_left {
		float: right;
		width: 65%;
	}
	.page-container {
		min-width:384px;
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		margin: 0px auto;
	}

	.page-container.sidebar-collapsed-back .left-content {
		float: right;
		width: 83%;
	}
	.left-content {
		width: 86%;
	}
	.outter-wp {
		padding: 0.5em 1.5em;
		margin-bottom: 2em;
	}

	.footer {
		text-align: center;
		margin: 23em 0 2em 0;
	}
	.footer.error{
		margin: 16em 0 2em 0;
	}
	.error-top.error{
		margin: 4em auto;
		width: 87%;
		padding: 2em 1em;
		position: absolute;
		left: 6%;
		top: -6%;
	}
}
@media (max-width:375px){

	h2.inner-tittle, h3.inner-tittle {
		font-size: 1.3em;
	}
	.profile-info {
		float: left;
		width: 100%;
		margin-right: 0;
		padding: 0;
	}
	h4.timeline-title a {
		margin: 0;
		padding: 5px 0;
		font-size: 0.95em;
	}
	.main-grid3 p, .main-grid3 p a {
		font-size: 0.7em;
	}
	.error-top span {
		font-size: 1.1em;
	}
	.error-top h3 i {
		font-size: 53px;
	}
	.error-top h3 {
		font-size: 4em;
	}
	.footer p {
		font-size: 0.85em;
		    line-height: 1.9em;
	}
	
	.login input[type="submit"] {
		font-size: 17px;
		padding: 7px 15px;
		margin-bottom: 0.3em;
	}
	.error-top {
		margin: 4em auto;
		width: 87%;
		padding: 2em 1em;
		position: absolute;
		left: 6%;
		top: 13%;
	}
	.error-top {
		margin: 4em auto;
		width: 87%;
		padding: 2em 1em;
		position: absolute;
		left: 6%;
		top: -6%;
	}
	
	.footer.error{
		margin: 16em 0 2em 0;
	}
	.error-top.error{
		margin: 4em auto;
		width: 87%;
		padding: 2em 1em;
		position: absolute;
		left: 6%;
		top: -6%;
	}
}
@media (max-width:320px){
	footer p {
		font-size: 0.8em;
		padding-right: 68px;
		line-height: 1.8em;
	}
	.switch-main {
		margin: 0 3em;
	}
	h3.inner-tittle.two {
		margin-top: 18px;
		font-size: 1.3em;
		line-height: 1.4em;
	}
	.page-container {
		min-width:320px;
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		margin: 0px auto;
	}
	
	.degree span {
		font-size: 2em;
		margin-left: 0.5em;
	}
	ul.clock-category li {
		list-style: none;
		display: inline-block;
		width: 43%;
	}
	.tabs nav ul li {
		width: 18%;
	}
	h2.inner-tittle.page {
		    position: absolute;
		    top: -14%;
		    left: 25%;
		    font-size: 2em;
	}
	.login input[type="submit"] {
		font-size: 17px;
		font-weight: 400;
		color: #fff;
		cursor: pointer;
		outline: none;
		padding: 7px 15px;
	}
	
	.footer {
		text-align: center;
		margin: 24em 0 2em 0;
	}
	.footer.error{
		margin: 16em 0 2em 0;
	}
	.error-top.error{
		margin: 4em auto;
		width: 87%;
		padding: 2em 1em;
		position: absolute;
		left: 6%;
		top: -6%;
	}
}
/***responsive***/
/* Profile ui */
.menu-active[data-menu-type=menu-box-right] {
	width: 70%!important;
	border: 2px solid #3333335e;
}

.shadow-large {
	width: 33%!important;
}

/* .shadow-huge {
	height: 200px;
} */
.select-all {
	font-size: 17px;
}

.menu-hider {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 98;
	background-color: rgba(0, 0, 0, 0);
}



.tabs-medium a {
	height: 46px;
	line-height: 23px;
	font-size: 13px;
}

.down {
	text-align: -webkit-center;
}

.down a {
	color: #008DE7;
	font-weight: 400;
}

.down a img {
	border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 16%;
	border: 3px solid #488298;
}

.down p {
	font-size: 0.9em;
	color: #d8d2d2;
	padding: 5px 8px;
}

.down ul {
	padding: 0;
	margin: 0;
}

i.lnr.lnr-user {
	font-size: 1.07em;
}

.down i {
	font-size: 1.2em;
	color: #00C6D7;
	vertical-align: middle;
}

.down ul li a {
	color: #fff;
	background: none;
	text-decoration: none;
}

.center {
	margin: auto;
	width: 60%;
	padding: 10px;
}
.grid-icons {
	margin: 0 10px;
}

.grid-icons-3 a i {
	font-size: 33px;
	padding-top: 13px;
}

.grid-icons-3 a span {
	font-size: 12px;
	padding-bottom: 15px;
}

#wrapper {
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 0px solid #fff!important;
}
@media (max-width: 325px) {
	.content {
		margin: 72px 15px 30px!important;
	}
	.grid-icons-3 a i {
		padding-top: 8px;
	}
	.grid-icons-3 a span {
		font-size: 10px;
		padding-bottom: 8px;
	}
}

input[type=search] {
    /* -webkit-appearance: none; */
    border: 1px solid #80808073!important;
    margin-left: 10px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff!important;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}
@media only screen and (max-width:320px){
	input[type=date], input[type=time], input[type=datetime-local], input[type=month] {
		line-height: 34px;
		border: 1px solid #e0dada!important;
		display: block;
	}
	.col-sm-4,.col-sm-8{
		width:50%;
	}	
}

@media screen and (min-width:321px) and (max-width:768px){
	input[type=date], input[type=time], input[type=datetime-local], input[type=month] {
		line-height: 15px; 
	     border: 1px solid #e0dada; 
		 display: block; 
	     padding: 8px; 
		 background: white;
	}	
	.col-sm-4,.col-sm-8{
		width:50%;
	}
}

@media (min-width:769px) and (max-width:1600){
	input[type=date], input[type=time], input[type=datetime-local], input[type=month] {
		line-height: 27px;
		border: 1px solid #e0dada;
		display: block;
	}	
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 8px 0px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
#loader {
    position: absolute;
    left: 40%;
    top: 50%;
	z-index: 11111;
    margin: 0 auto;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    border-bottom: 10px solid #3498db;
    width: 70px;
    height: 70px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
	position: relative;
	-webkit-animation-name: animatebottom;
	-webkit-animation-duration: 1s;
	animation-name: animatebottom;
	animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
	from { bottom:-100px; opacity:0 } 
	to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
	from{ bottom:-100px; opacity:0 } 
	to{ bottom:0; opacity:1 }
  }
  
  .myOverlay{ background: black;
	opacity: 0.2;}

	label {
		display: inline-block;
		max-width: 100%;
		margin-bottom: 5px;
		font-weight: 500;
	}
.New{
	color: green;
}
.In{
	color: rgb(214, 145, 18);
}
.Follow{
	color: rgb(73, 214, 45);
}
.SVD-Folloup{
	color: rgb(241, 55, 22);
}